body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.count {
    display: flex;
}

h1 {
    font-size: 62px;
    color: #222;
    padding: 10px;
}

.label {
    font-size: 35px;
    padding: 5px;
}


button {
    font-size: 24px;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
}

